name: Deploy to GitHub Pages
on:
  push:
    branches:
      - main

permissions:
  pages: write
  id-token: write

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: .

  deploy:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
